/*vue-radiokbox*/

.vue-radiokbox {
    display: inline-block;
    vertical-align: middle;
    .vue-radiokbox-item {
        vertical-align: middle;
        font-size: 24px;
        &:before {
            content: "\e602";
            color:#ccc;
        }
        &.active {
            
            &:before {
                content: "\e9c4";
                color:$text-primary;
            }
        }
    }
}

