/*场景编辑*/

.scene-edit-bg{
     background: #d5d8e1;
      padding-top: 30px;
}
.scene-edit {
   
    width: 960px;
    margin: 0 auto;
    padding: 10px;
   
    border-radius: 5px;
    background: #fff;
    border-radius: 5px;
     
}

