/***********创建场景******************/

.scene-create {
    height: 100%;
    background: #fff;
    .scene-create-content {
        width: 900px;
        margin: 0 auto;
        padding-top: 100px;
        form {
            label {
                font-size: 18px;
                color: #777;
            }
            .txt {
                width: 400px;
            }
        }
        .scene-create-ttl {
            margin: 30px 0;
            font-size: 18px;
        }
        .scene-create-add {
            ._item {
                display: inline-block;
            }
            ._cont {
                position: relative;
                display: inline-block;
                width: 200px;
                padding: 10px;
                margin: 10px;
                border: 1px solid #ccc;
                box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
                border-radius: 5px;
                .close-item {
                    cursor: pointer;
                }
                select {
                    margin: 30px 0 20px 0;
                }
            }
            // 添加btn
            .add-btn {
                position: relative;
                border-radius: 50%;
                padding: 0;
                height: 40px;
                width: 40px;
                margin-left: 0px;
                .glyphicon {
                    position: absolute;
                    top: 9px;
                    padding: 0;
                    left: 10px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
        ._item-mask {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            padding: 10px;
            line-height: 107px;
            text-align: center;
            width: 100%;
            height: 100%;
            background: #f8f8f8;
            opacity: 1;
            border-radius: 5px;
        }
        // 返回上一页
        .back-page {
            position: absolute;
            top: 0;
            right: 100px;
        }
    }
}

// 保存
.scene-create-submit {
    margin-top: 50px;
    width: 200px;
}


/**********导航地图 *****************/

.scene-map {
    width: 100%;
  
    .scene-map-content {
        display: flex;
      
    }
    // 左边
    .scene-map-l {
        position: relative;
        width: 90%;
        height: 100%;
        // 当前坐标
        .scene-map-coordinate {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9999;
            padding: 10px;
            color: #f8f8f8;
            background: rgba(#333, .3);
            ul {
                li {
                    width: 100px;
                    &+li {
                        margin-top: 5px;
                    }
                }
            }
        }
        .coordinate-icon{
            padding: 0;
            color:$text-danger;
        }
    }
    // 右边
    .scene-map-r {
        padding: 20px;
        width: 20%;
        width: 250px;
        box-sizing: border-box;
        //上面按钮
        .scene-map-r-btn {
            width: 180px;
            margin: 0 auto;
            text-align: center;
            li {
                margin-bottom: 20px;
                .btn {
                    min-width: 150px;
                    border-radius: 20px;
                }
            }
        }
        // 下面列表
        .scene-map-r-list {
            .list-group {
                width: 100%;
                margin: 0 auto;
                li {
                    text-align: left;
                    padding: 0px 20px;
                    .checkbox {
                        max-width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .list-group-item-primary {
                    padding: 8px 10px;
                    text-align: center;
                    font-size: 16px;
                }
                .list-group-item {
                    text-align: left;
                    .btn {
                        display: inline-block;
                        margin: 3px;
                    }
                }
            }
        }
    }
    .scene-map-img {
        width: 100%;
        height: auto
    }
}

//坐标图标
.coordinate-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
//  display: none;
    font-size: 36px;
    color: #fff;
}

// 收藏地图坐标弹框
.scene-create-pop {
    &.pop-box.pattern-pop .pop-box-gp {
        label {
            width: 60px;
            flex: 0 0 60px;
            color: #666;
        }
        span {
            display: inline-block;
           
            height: 34px;
            line-height: 20px;
            padding: 6px 12px;
            background: transparent;
            border-radius: 9px;
            text-indent: 5px;
        }
        input,
        span {
            width: 180px;
        }
        .btn {
            width: 120px;
            margin-top: 10px;
            border-radius: 9px;
            &+.btn {
                margin-left: 20px;
            }
        }
    }
}